<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav">
        <h2>Coffee Shop</h2>
        <ul>
            <a href="home page">Home</a>
            <a href="services">Our service</a>
            <a href="contact">contact Us</a>
    
        </ul>
        </div>
        <h1>contact Us</h1>
        <div class="row" >
            <div class="col-md-8 mr-auto" >
              <form action="">
                <div class="contact_form-container">
                  <div>
                    <div>
                      <input type="text" placeholder="Name">
                    </div>
                    <div>
                      <input type="text" placeholder="Phone Number">
                    </div>
                    <div>
                      <input type="email" placeholder="Email">
                    </div>
    
                    <div class="mt-5">
                      <input type="text" placeholder="Message">
                    </div>
                    <div class="mt-5">
                      <button type="submit">
                        send
                      </button>
                    </div>
                  </div>
    
                </div>
     <img src="https://images.squarespace-cdn.com/content/v1/5e8f6163267800446411f346/1586557463040-0O66R1241XRO1WN0Y6UL/image-asset.jpeg" 
              alt="imge" >
              </form>
            
            </div>

          </div>
</body>
</html>